{% extends 'base.html' %}

{% block title %} Bem vindo {% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-6">
        <h1>Seja bem vindo</h1>
    </div>
    <div class="col">
        {% if user.is_authenticated %}
        <p>Olá {{user.username}}</p>
        <a href="{% url 'logout' %}">Deslogar</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
        {% endif %}
    </div>
</div>





{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Desenvolvimento web com Django</span>
        </div>
    </footer>
{% endblock %}

